.input-wrapper {position: relative;}

.dollar-input { display: block; position: relative; left: 20px; border: 1px solid #d7d6d6; background: #fff; }

.unit { position: absolute; display: block; top: 25px; z-index: 1; font-size: x-large}